.paper {
  background-color: #ffffff;
  width: 600px;
  // margin: 0 auto;
  margin-left: -50px;
}

.listPaper {
  color: #555;
  font-size: 25px;
  padding: 0 !important;
  width: 700px;
  font-family: courier, monospace;
  border: 3px solid #dedede;
}

.listPaper li {
  list-style: none;
  border-bottom: 1px dotted #ccc;
  text-indent: 15px;
  height: auto;
  padding:30px;
  text-transform: capitalize;
  padding-left:-70px;
}

.lines {
  border-left: 1px solid #ffaa9f;
  border-right: 1px solid #ffaa9f;
  width: 2px;
  float: left;
  height: 345px;
  margin-left: 40px;
}
